//- Mixin que aglutina los modificadores para un Layout con flex
@mixin flex-modifiers(){
    display: flex;
    gap: $grid-gutter;
    flex-wrap: wrap;
    
    &--col{
        flex-direction: column;
    }

    &--col-reverse{
        flex-direction: column-reverse;
    }

    &--row{
        flex-direction: row;
    }

    &--row-reverse{
        flex-direction: row-reverse;
    }

    &--wrap{
        flex-wrap: wrap;
    }

    &--no-wrap{
        flex-wrap: nowrap;
    }

    &--x-start{
        justify-content: flex-start;
    }

    &--x-end{
        justify-content: flex-end;
    }

    &--x-center{
        justify-content: center;
    }

    &--x-between{
        justify-content: space-between;
    }

    &--x-around{
        justify-content: space-around;
    }

    &--x-evenly{
        justify-content: space-evenly;
    }

    &--y-start{
        align-items: flex-start;
    }

    &--y-end{
        align-items: flex-end;
    }

    &--y-center{
        align-items: center;
    }

    &--y-baseline{
        align-items: baseline;
    }
}