//- Mixin que aglutina los modificadores para los flex items

@mixin flex-child-modifiers(){
    width: 100%;
    &--1{
        width: 8.333%;
        max-width: 8.333%;
    }

    &--2{
        width: 16.666%;
        max-width: 16.666%;
    }

    &--3{
        width: 25%;
        max-width: 25%;
    }

    &--4{
        width: 33.333%;
        max-width: 33.333%;
    }

    &--5{
        width: 41.666%;
        max-width: 41.666%;
    }

    &--6{
        width: 50%;
        max-width: 50%;
    }

    &--7{
        width: 58.333%;
        max-width: 58.333%;
    }

    &--8{
        width: 66.666%;
        max-width: 66.666%;
    }

    &--9{
        width: 75%;
        max-width: 75%;
    }

    &--10{
        width: 83.333%;
        max-width: 83.333%;
    }

    &--11{
        width: 91.666%;
        max-width: 91.666%;
    }

    &--12{
        width: 100%;
        max-width: 100%;
    }
}